* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body,html{
  width:100vw;
  height:100vh;
}

body{
  background:url(Img/fundo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


header {
  display:flex;
  justify-content:center;
  padding:2rem;
  animation: cair 0.8s ease-out;
  transition: transform 0.35s ease, opacity 0.35s ease;
  background-color:rgba(255, 255, 255, 0.062);
  border-radius:0px 0px 20px 20px;
}

.link:hover {
  transition-duration: 0.5s;
  transform: scale(1.20);
}

.link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background: brown;
  bottom: 0;
  left: 0;
  transition: width 0.2s ease;
  transition-duration: 0.5s;
}

.logo:hover {
  transform: scale(1.2);
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.link:hover,
.link.active {
  color: brown;
}

.link:hover::after,
.link.active::after {
  width: 100%;
}

.link {
  font-size: 3rem;
  color: white;
  margin-left: 4rem;
  font-weight: 700;
  transition: all 0.3s ease;
  padding-bottom: 6px;
  top: 2px;
}


.logo {
  font-size: 4.2rem;
  color: brown;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  position:relative;
  top:-7px;
} 

@keyframes cair {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.out.hidden {
  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
}

.home img {
  width: 50vw;
  display: flex;
  margin: auto;
  position:relative;
  top:14vh;
  left:1vh;
  border-radius: 48%;
  box-shadow: 0 0 50px rgb(39, 37, 37);
}

.home h1 {
  font-size: 5rem;
  position:relative;
  top:-33vh;
  display:flex;
  margin: auto;
  width:100%;
}

.home h1 span {
  color: white;
  margin: auto;
}

.habilites {
  position:relative;
  top:-31vh; 
  left:2vh;
  display: flex;
  margin: auto;
  font-size: 5rem;
  width: 20vh;
}

.habilites span::before {
  content: "Full Stack";
  color: brown;
  animation: words 6s infinite;
}

.habilites span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid brown;
  right: -8px;
  animation: digitar 1.4s infinite;
}

.p1 {
  font-size: 1.5vh;
  line-height: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: white;
  width: 80vw;
  margin: auto;
  position:relative; 
  top: 8vh;
}


@keyframes words {

  0%,
  20% {
    content: "Full Stack";
  }

  20%,
  40% {
    content: "Video Editor";
  }

  40%,
  80% {
    content: "Empreendedor";
  }

}

@keyframes digitar {
  to {
    border-left: 5px;
  }
}
