/*! Configs Geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-size: 63%;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: url(Img/fundo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.soft,
footer {
  background: url(Img/fundo.jpg);
}

.home,
.soft,
.hard {
  box-shadow: 0px 0px 12px 3px rgba(165, 42, 42, 0.582);
}

/*! Position Relative Universal */
.img,
.home h1,
.habilites,
.p1,
.p2,
.conteiner,
.box,
.box2,
.box3,
.box4,
.BOX,
.backbox,
.link {
  position: relative;
}

/*! Header Configs*/

header {
  position: fixed;
  width: 100%;
  height: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4%;
  z-index: 999;
  backdrop-filter: blur(100px);
  border-radius: 0px 0px 25px 25px;
  animation: cair 0.8s ease-out;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

@keyframes cair {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.out.hidden {
  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
}

.link:hover {
  transition-duration: 0.5s;
  transform: scale(1.20);
}

.link:hover,
.link.active {
  color: brown;
}

.link:hover::after,
.link.active::after {
  width: 100%;
}

.link {
  font-size: 2.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 700;
  transition: all 0.3s ease;
  padding-bottom: 6px;
  top: 2px;
}

.link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background: brown;
  bottom: 0;
  left: 0;
  transition: width 0.2s ease;
  transition-duration: 0.5s;
}

.logo:hover {
  transform: scale(1.2);
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.logo {
  font-size: 3rem;
  color: brown;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  top: -1.9px;
}

/*! Home Configs*/

.img {
  width: 25vw;
  border-radius: 48%;
  top: 100px;
  left: 100px;
  box-shadow: 0 0 20px rgb(39, 37, 37);
  animation: fadeInRight 1s ease forwards, float 3s ease-in-out infinite;
}

.home img:hover {
  box-shadow: 0 0 40px rgb(39, 37, 37);
  transform: scale(1.10);
  transition-duration: 0.5s;
}

.home h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin: auto;
  top: -300px;
  left: 480px;
  animation: fadeInUp 1s;
}

.home h1 span {
  color: white;
  margin: auto;
  
}

.habilites {
  top: -280px;
  left: 520px;
  font-size: 40px;
  animation: fadeInUp 1.5s;
  margin: auto;
}


.habilites span::before {
  content: "Full Stack";
  color: brown;
  animation: words 6s infinite;
}

.habilites span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid brown;
  right: -8px;
  animation: digitar 1.4s infinite;
}

@keyframes words {

  0%,
  20% {
    content: "Full Stack";
  }

  20%,
  40% {
    content: "Video Editor";
  }

  40%,
  80% {
    content: "Empreendedor";
  }

}

@keyframes digitar {
  to {
    border-left: 5px;
  }
}

.p1 {
  font-size: 18px;
  line-height: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: white;
  width: 700px;
  animation: fadeInUp 1.6s;
  margin: auto;
  top: -230px;
  left: 200px;
}

/*! Soft Skills Configs*/

.soft {
  height: 700px;
}

.p2 {
  font-size: 18px;
  line-height: 1.8em;
  width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: white;
  margin: auto;
  top: 100px;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.title span {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
}

.title span::before,
.title span::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: brown;
  left: 0;
  bottom: 0;
  animation: expandWidth 1s ease forwards;
}

.title span::after {
  bottom: -1rem;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.p3 {
  font-size: 28px;
  color: white;
  text-align: center;
  width: 230px;
  background-color: rgba(165, 42, 42, 0.082);
  border-left: 2px solid brown;
  border-right: 2px solid brown;
  border-radius: 0 10px;
  padding: 7px;
}

.conteiner {
  top: 50px;
  left: -35px;
}

.box {
  top: 100px;
  left: 190px;
}

.box2 {
  top: -115px;
  left: 430px;
}

.box3 {
  top: -330px;
  left: 670px;
}

.box4 {
  top: -544px;
  left: 910px;
}

/*! Hard Skills Configs*/

.hard {
  height: 630px;
}

.BOX {
  left: 350px;
  top: 100px;
}

.back {
  width: 85px;
  height: 85px;
}

.backbox {
  left: 48px;
  top: 10px;
}

.titulo {
  font-size: 28px;
  color: white;
  padding: 10px;
}

footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: white;
  position: relative;
  font-size: 18px;
}

.contactos,
.contt>img {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;

}

.contactos {
  border-left: 2px solid brown;
  border-right: 2px solid brown;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
}

.contactos:hover {
  background-color: rgba(165, 42, 42, 0.082);
  box-shadow: 0px 0px 5px black;
  transform: scale(1.1);
  transition-duration: 0.2s;
}