* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body, html {
  width: 100%;
  min-height: 100vh;
}

body {
  background: url(Img/fundo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 15px;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 3px 3px rgba(165, 42, 42, 0.084);
  width: 100%; 
  animation: cair 0.8s ease-out;
}

@keyframes cair {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.link {
  font-size: clamp(1.1rem, 4vw, 1.1rem);
  color: white;
  margin-left: 0.9rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.logo {
  font-size: clamp(1.6rem, 4vw, 1.5rem);
  color: brown;
  font-weight: 800;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.209);
  position: relative;
  top: -3px;
  left: -0.1rem;
}

.home img {
  width: 65vw;
  max-width: 400px;
  display: block;
  margin:auto;
  position: relative;
  top:20vh;
  border-radius: 48%;
}

.home .span {
  font-size: clamp(2.5rem, 5vw, 3rem);
  display: block;
  padding-left: 10px;
  color: white;
  width: 70%;
  position:relative;
  top:-45vh;
  left:10vw;
}

.home .span2 {
  font-size: clamp(2rem, 5vw, 3rem);
  display: block;
  padding-left: 4vw;
  width: 70%;
  position:relative;
  top:-44vh;
  left:30vw;
}

.habilites {
  font-size: clamp(1.8rem,1.5vh,2rem);
  position: relative;
  top: -43vh;
  left: 4vw;
  display:block;
  width: 25vh;
}

.habilites span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid brown;
  right: -8px;
  animation: digitar 1.4s infinite;
}

.habilites span::before {
  content: "Full Stack";
  color: brown;
  animation: words 6s infinite;
}

.home p {
  font-size: clamp(1rem, 0, 2rem);
  line-height: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: white;
  width: 88vw;
  margin: 3.2rem auto;
}


@keyframes words {

  0%,
  20% {
    content: "Full Stack";
  }

  20%,
  40% {
    content: "Video Editor";
  }

  40%,
  80% {
    content: "Empreendedor";
  }

}

@keyframes digitar {
  to {
    border-left: 5px;
  }
}

.soft {
  background: url(Img/fundo.jpg);
  box-shadow: 0px 0px 12px 3px rgba(165, 42, 42, 0.159);
  padding-top: 2rem;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: clamp(2rem, 8vw, 4rem);
  padding-top: 2vh;
}

.soft p {
  font-size: clamp(1.5rem, 1.5vw, 1.2rem);
  line-height: 1.8em;
  width: 80vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: white;
  margin: auto;
  padding-top: 4vh;
}

.soft > .conteiner p {
  font-size: clamp(0.75rem, 2vw, 0.9rem);
  color: white;
  text-align: center;
  background-color: rgba(165, 42, 42, 0.034);
  border-left: 2px solid brown;
  border-right: 2px solid brown;
  border-radius: 10px;
  width: 40vw;
  padding: 10px;
}

.box {
  position: relative;
  left: 3vw;
  top: 5vh;
  width: 40vw;
}

.box2 {
  position: relative;
  left: 24vw;
  top: -23.6vh;
  width: 40vw;
}

