* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  background: url(Img/fundo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  animation: cair 0.8s ease-out;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 12px 3px rgba(165, 42, 42, 0.084);
}

.link:hover {
  transition-duration: 0.5s;
  transform: scale(1.20);
}

.link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background: brown;
  bottom: 0;
  left: 0;
  transition: width 0.2s ease;
  transition-duration: 0.5s;
}

.logo:hover {
  transform: scale(1.2);
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.link:hover,
.link.active {
  color: brown;
}

.link:hover::after,
.link.active::after {
  width: 100%;
}

.link {
  font-size:1.1rem;
  color: white;
  margin-left: 1.1rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.logo {
  font-size:1.5rem;
  color: brown;
  font-weight: 800;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  position: relative;
  top: -3px;
}

@keyframes cair {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.out.hidden {
  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
}

.home img {
  width: 68.5vw;
  display: flex;
  margin: auto;
  position: relative;
  top: 15vh;
  left: 1vh;
  border-radius: 48%;
  box-shadow: 0 0 10px rgba(165, 42, 42, 0.237);
}

.home h1 {
  font-size:2rem;
  position: relative;
  top: -46vh;
  display: flex;
  margin: auto;
  width: 100%;
}

.home h1 span {
  color: white;
  margin: auto;
}

.habilites {
  font-size:2rem;
  position: relative;
  top: -44vh;
  left:4vh ;
  display: flex;
  width: 25vh;
}

.habilites span::before {
  content: "Full Stack";
  color: brown;
  animation: words 6s infinite;
}

.habilites span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid brown;
  right: -8px;
  animation: digitar 1.4s infinite;
}

.home p {
  font-size: 2vh;
  line-height: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: white;
  width: 80vw;
  margin: auto;
  position: relative;
  top: 8vh;
}


@keyframes words {

  0%,
  20% {
    content: "Full Stack";
  }

  20%,
  40% {
    content: "Video Editor";
  }

  40%,
  80% {
    content: "Empreendedor";
  }

}

@keyframes digitar {
  to {
    border-left: 5px;
  }
}


.soft {
  background: url(Img/fundo.jpg);
  box-shadow: 0px 0px 12px 3px rgba(165, 42, 42, 0.159);
  position: relative;
  top: 10vh;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 4rem;
  position: relative;
  top: 2vh;
}

.title span::before,
.title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 25%;
  left: 37.5%;
  bottom: 0;
  background: brown;
  border-radius: 10px;
}

.title span::after {
  bottom: -1rem;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.soft p {
  font-size: 2.2rem;
  line-height: 1.8em;
  width: 80vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: white;
  margin: auto;
  position: relative;
  top: 4vh;
}

.soft>.conteiner p {
  font-size: 1.5vh;
  color: white;
  text-align: center;
  background-color: rgba(165, 42, 42, 0.034);
  border-left: 2px solid brown;
  border-right: 2px solid brown;
  border-radius: 10px;
  width: 40vw;
  padding: 10px;
}

.box {
  position: relative;
  left: 3vh;
  top: 5vh;
  width: 40vw;
}

.box2 {
  position: relative;
  left: 24vh;
  top: -23.6vh;
  width: 40vw;
}

