*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width:100vw;
    height:100vh;
}

a{
    text-decoration: none;
    font-size:30px;
}

a:hover{
    color:white;
    transform: scale(1.10px);
}


header{
    display:flex;
    gap:30px;
    justify-content:center;
    padding:10px;
    background-color:rgba(0, 0, 255, 0.603);
    border-radius:10px;
}

#menu{
    display:none;
}


@media screen and (orientation:portrait){

header{
    display:none;
}
    #menu{
        display:flex;
        justify-content:center;
        font-size:100px;
        
        height:100px;
    }

    #menu:hover{
    
        transform: scale(1.1);
        transition-duration: 0.2s;
        
    }
}